name: test-read-yaml.yml
on:
  workflow_dispatch:
    inputs:
      prerelease_version:
        type: string
        required: true
        description: Pre release version

jobs:
  extract-configs:
    runs-on: ubuntu-latest
    name: Extract Workflow Configs
    outputs:
      test_release_url: ${{steps.parse-workflow-configs.outputs.test_release_url}}
      test_staging_url: ${{steps.parse-workflow-configs.outputs.test_staging_url}}
      test_script: ${{steps.parse-workflow-configs.outputs.test_script}}
      s3_base_target: ${{steps.parse-workflow-configs.outputs.s3_base_target}}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - id: parse-workflow-configs
        uses: jassada0ta/my-gha-sandbox/.github/actions/parse-workflow-configs@main
        with: 
          working-directory: './apps'
          prerelease_version: ${{inputs.prerelease_version}}
  printout-data:
    name: Printout Data
    runs-on: ubuntu-latest
    needs: extract-configs
    steps:
      - name: Printout Data
        id: printout-data
        run: |
          echo "Release URL: ${{needs.extract-configs.outputs.test_release_url}}"
          echo "Staging URL: ${{needs.extract-configs.outputs.test_staging_url}}"
          echo "Test Script: ${{needs.extract-configs.outputs.test_script}}"
          echo "S3 Base Target: ${{needs.extract-configs.outputs.s3_base_target}}"